# Dev Dependencies
importchecker==2.0
pycodestyle==2.4.0
pytest==6.1.0

# Dependencies
browser-cookie3==0.16.2
casanova==0.19.2
colorama==0.4.4
minet==0.66.1
playwright==1.28.0
playwright_stealth==1.0.5
tqdm==4.60.0
ural==0.36.0
